nav {
    display: flex;
    align-items: center;
  }
  
  nav img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  
  nav a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  nav a:hover {
    color: #999;
    transition: 0.3s;
  }