<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>User Login System</title>
</head>

<body>
  	<div class="container">
  		<h2 id="registerEmp">Login </h2>
    <form id="actionForm"name="actionForm"method="POST" action="/signup">
     <br>
     <div class="col-xs-4">
      Name
      <input  class="form-control" type="text" name="name">
    </div>
	 <div class="col-xs-4">
	  Email
	  <input  class="form-control" type="text" name="email">
	</div>
	  <div class="col-xs-4">
	  Password
	  <input   class="form-control" type="password" name="password">
	</div>

      <center><input id="add-emp"class="btn btn-primary" type="submit" value="Register">
      
      </center>
    </form>
  
</div></div>
  </body>
</html>