h1{
    font-size:80px;
    font-weight:800;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    }
    h2
    {
    font-size:25px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-top:-40px;
    }
    p{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    }
    
    /* .container
    {
    width:300px;
    margin: 0 auto;
    margin-top:15%;
    } */