#fpm-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 8em;
}

#fpm-logo img {
    max-width: 328px;   
}

#fpm-subscript {
    margin: 1em auto;
}

@media only screen and (max-width: 768px) {
    #fpm-logo img {
        max-width: 200px;
    }

    #home-search {
        font-size: 20px;
    }

    #search-icon {
        position: absolute;
        right: 40px;
        top: 50px;
    }

    #home-container {
        width: 80%;   
    }

    #fpm-subscript {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    #home-search {
        font-size: 30px;
    }

    #search-icon {
        position: absolute;
        right: 40px;
        top: 78px;
        z-index: 9999;
    }

    #home-container {
        width: 40%;
    }

    #fpm-subscript {
        font-size: 24px;
    }
}

#home-search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    border-radius: 50px;
    width: 100%;
}